<html>
<head>
    <title>Add Match</title>
</head>
<body>
    <h1><strong>Add Bulk Match</strong></h1>
    <h3>Matches Remaining {{count}}</h3>
<form action="{{ url_for('save_match_special', id=match_session['id'], count=count) }}" method="POST">
    <label for="opponent">Opponent: </label>
    <input type="text" id="opponent" name="opponent" required><br>
    <label for="duration">Duration: </label>
    <input type="text" id="duration" name="duration" required><br>
    <label for="focus">Focus: </label>
    <input type="text" id="focus" name="focus" required><br>
    <label for="notes">Notes: </label>
    <input type="text" id="notes" name="notes" required><br>
    <button title="Save and Add match" type="submit">Save</button>
</form>

    <p></p>
</body>
</html>