<html>
<head>
    <title>Add Match</title>
</head>
<body>
    <h1><strong>Add Bulk Match</strong></h1>
    <h3>Matches Remaining {{count}}</h3>
<form action="{{ url_for('add_match', id=match_session, count=count) }}" method="POST">
    <label for="opponent">Opponent: </label>
    <input type="text" id="opponent" name="opponent" required><br>
    <label for="matchMintues">Match Minutes: </label>
    <input type="number" id="matchMinutes" name="matchMinutes" required><br>
    <label for="matchSeconds">Match Seconds: </label>
    <input type="number" id="matchSeconds" name="matchSeconds" required><br>
    <label for="focus">Focus: </label>
    <input type="text" id="focus" name="focus" required><br>
    <label for="notes">Notes: </label>
    <input type="text" id="notes" name="notes" required><br>
    <button title="Save and Add match" type="submit">Save</button>
</form>

    <p></p>
</body>
</html>